@import '../../../../style.scss';

.JournalCard {
  width: 100%;
  padding: 40px;
  border: 2px solid $color-tosca;
  border-radius: 8px;
  &:hover {
    scale: 1.05;
  }

  &__box {
    height: 150px;
    background-color: $color-tosca;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &-img {
      height: 200px;
      position: absolute;
      top: 20px;
    }
  }
}