@import '../../style.scss';

.headerbar {
  background-color: $color-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 0.5px solid $color-tosca;
  &__icon {
    margin-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-ava {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: $color-darkblue;
    overflow: hidden;
    position: relative;

    &-img {
      width: 40px;
      position: absolute;
      top: 10px;
      left: 0px;
    }
  }

  &__user { 
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    &:hover {
      text-decoration: underline;
    }
    &__name { 
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__menus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 10px;
    width: 200px;
    top: 60px;
    padding: 10px;
    border: 1px solid $color-tosca;
    border-top: none;
    background-color: $color-black;
    border-radius: 0 0 12px 12px;
    z-index: 999;
    &__item {

      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 50px;
      
      &:hover {
        color: $color-neon;
      }
      
      &__icon {
        background-color: $color-darkblue;
        display: flex;
        justify-content: center;
        align-items: center;
      
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: $color-darkblue;
  border: solid 1px $color-darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  align-self: center;

  &-oval {
    width: 60px;
  }
}